# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# VS Code
.vscode/

# Server configs
/etc/nginx/
/etc/systemd/
*.pem
*.key
*.crt
*.log

# Python + React
__pycache__/
node_modules/
.env*
